body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.guess-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-row {
  display: flex;
}

.guess-row__letter {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid grey;
  margin: 5px;
}

/*
Keyboard
*/

.keyboard {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.key {
  padding: 20px 15px;
  margin: 2px;
}