body {
  font-family: "Open Sans", sans-serif;
}

/*
Guess
*/

.guess-row {
  display: flex;
}

.guess-row__letter {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid grey;
  margin: 5px;
}

/*
Keyboard
*/

.keyboard {}